* {
  margin: 0;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






body {
  background-color: rgb(244, 199, 144);
}

 nav{
  margin-top: 0%;
  background-color: darkblue;
  height: 4rem;
}
ul{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 2rem;
}
ul li {
  font-size: 1.3rem;
  font-weight: 700;
  
   list-style-type: none;
  
}
ul li a{
  text-decoration: none;
 color: white;
} 
a:hover{
  font-size: 1.36rem;
}

@media (max-width:650px){
  ul{
    /* display: block;
    width: 100%; */
    gap:0.5rem;

  }
  ul li{
    font-size: 0.9rem;
  }
}













.middle img {
  width: 100%;
  height: 24rem;
  position: absolute;
}

.input {
  width: 60%;
  position: relative;
  margin-top: 2rem;
  margin-left: 20%;
  border-radius: 16px;
  height: 2rem;
  padding-left: 1.5rem;

}

.middle p {
  position: relative;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 10rem;



}

.cart {
  width: 25rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
  color: white;
  border-radius: 10px;
  background-color: hsl(0, 0%, 50%);

  box-shadow: 7px 7px 7px 7px hsl(0, 0%, 0%, 30%);
}

.cart-over {
  position: absolute;
  font-size: 0.8rem;
  left: 0%;
  height: 7rem;
  width: 26rem;
  background-color: hsl(0, 0%, 50%, 50%);
  padding-left: 2rem;
  padding-right: 3rem;

  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
}
.cart-over p{
  padding-left: 1rem;
  padding-right: 3rem;
}

.cart img {
  width: 100%;
  height: 80%;

}

.cart:hover .cart-over {
  transform: translateY(-100%);
}